@import 'variables';
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
html {
    background-color: black;
    margin: 0;
    height: 100%;
    body {
        background-color: black;
        height: 100%;
    }
    .container-all {
        .logo-wrapper {
            margin: .5em 0 0 1em;
            img {
                height: $logo-height;
                &:hover {
                    cursor: pointer;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
        .gloss {
            position: absolute;
            background: url("/img/stock.jpeg") no-repeat center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .view-chart-wrapper {
                position: relative;
                text-align: center;
                top: 50%;
                transform: translateY(-40px - $logo-height - 16);
                img {
                    height: 80px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .view-chart-text-wrapper {
                    color: white;
                    transition: all .3s ease;
                    &:hover {
                        cursor: pointer;
                        color: $stock-teal;
                    }
                }
                .subtitle-wrapper {
                    color: white;
                }
            }
            .sidebar {
                background: rgba(0,0,0,0.5);
                color: white;
                .about-container {
                    position: relative;
                    text-align: center;
                    height: 390px;
                    top: 50%;
                    transform: translateY(-200px);
                    .about-text-wrapper {
                        margin-bottom: 1.5em;
                        font-size: 1.9em;
                    }
                    .tech-text-wrapper {
                        font-size: 1.3em;
                    }
                    .logos-container {
                        font-size: 1em;

                        .logo-wrapper {
                            margin: .3em;
                            padding: 0 .5em 0 .5em;
                            display: inline-block;
                            background: rgb(50,50,50);
                            border-radius: 5px;
                            .logo-text-wrapper {
                                display: inline-block;
                                height: 50px;
                                line-height: 50px;
                            }
                            img {
                                height: 50px;
                            }
                        }
                        .react-logo-wrapper {
                            padding: 0 1em 0 0em;
                        }
                        .semantic-ui-logo-wrapper {
                            // border: 1px solid red;
                            img {
                                margin-right: .5em;
                            }
                        }
                        .nodejs-logo-wrapper {
                            padding: 0 .8em 0 0em;
                        }
                        .mongodb-logo-wrapper {
                            padding: 0 .9em 0 0em;
                        }
                        .socketio-logo-wrapper {
                            img {
                                margin-right: .5em;
                            }
                        }
                        .logo-wrapper > * {
                            vertical-align: top;
                        }
                    }
                }
                .attribution {
                    a {
                        color: white;
                        transition: all .3s ease;
                        &:hover {
                            color: $stock-teal;
                        }
                    }
                }
            }
            .arrow {
                position: absolute;
                display: inline-block;
                top: 50%;
                width: 32px;
                height: 32px;
                transform: translateY(-16px);
                color: white;
                font-size: 4em;
                font-weight: 500;
                transition: all 0.3s ease;
                animation: 0.5s infinite alternate slidein;
                &:hover {
                    color: $stock-teal;
                    cursor: pointer;
                }
            }
            @keyframes slidein {
                from {
                    margin-left: 0;
                }
                to {
                    margin-left: 0.15em;
                }
            }

        }
        .app-container {
            display: block;
            background-color: black;
            .chart-container {
                margin: auto;
                width: 80%;
                height: 400px;
            }
            .cards-container {
                margin: auto;
                margin-top: 1.5em;
                width: 80%;
                .transition-wrapper {
                    display: inline-block;
                    margin: 0.2em;
                    width: $card-width + 10;
                    height: $card-height + 10;
                    vertical-align: top;
                    .card-wrapper {
                        position: relative;
                        border: 1px solid grey;
                        border-radius: 2px;
                        width: $card-width;
                        height: $card-height;
                        margin: auto;
                        top: 50%;
                        transform: translateY(-$card-height / 2);
                        .stock-card {
                            text-align: center;
                            border-left: 5px solid $stock-teal;
                            border-top-left-radius: 1px;
                            border-bottom-left-radius: 1px;
                            width: $card-width;
                            height: $card-height * .975;

                            transition: all 0.3s ease;
                            color: white;
                            &:hover {
                                border-left: 7px solid red;
                                border-top-left-radius: 1px;
                                border-bottom-left-radius: 2px;
                            }
                            .stock-symbol-wrapper {
                                height: $card-height * .975 * (1/4);
                            }
                            .stock-name-wrapper {
                                height: $card-height * .975 * (3/4);
                            }
                        }
                        .icon {
                            position: absolute;
                            top: 0;
                            right: 0;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .search-container {
                width: 100%;
                margin: 2em 0 1em 0;
                .search-wrapper {
                    height: 40px;
                    margin: auto;
                    width: 60%;
                    display: flex;
                    flex-direction: row;
                    input {
                        flex-grow: 8.5;
                        border: 2px solid grey;
                        height: 100%;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                        margin-right: 0.2em;
                        padding-left: 1em;
                        background-color: black;
                        transition: all 0.2s ease;
                        &:focus {
                            outline: none;
                            border: 1px solid white;
                            color: white;
                            &::placeholder {
                                color: white;
                            }
                        }
                    }
                    .button {
                        border: 2px solid grey;
                        height: 100%;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        flex-grow: 1.5;
                        line-height: 40px;
                        text-align: center;
                        color: grey;
                        transition: all 0.2s ease;
                        &:hover {
                            border: 1px solid white;
                            color: white;
                            cursor: pointer;
                        }
                    }
                }
                .cards-full-container {
                    width: 100%;
                    .cards-full-msg-wrapper {
                        width: 60%;
                        margin: auto;
                        color: white;
                    }
                    .error-msg-wrapper {
                        width: 60%;
                        margin: auto;
                        color: white;
                    }
                }
            }
        }
        .footer {
            position: fixed;
            left: 50%;
            transform: translateX(-100px);
            bottom: .9em;
            color: white;
            a {
                color: white;
                transition: all .3s ease;
                display: inline-block;
                line-height: 30px;
                &:hover {
                    color: $stock-teal;
                }
            }
            .github-wrapper {
                vertical-align: bottom;
            }
            .name-wrapper {
                vertical-align: top;
            }
            .seperator {
                display: inline-block;
                vertical-align: middle;
                margin: 0 .2em 0 .2em;
            }
        }
    }
}
