@import 'variables';
* {
    box-sizing: border-box;
}
.app-container {
    border: 1px solid blue;
    .chart-container {
        margin: auto;
        // border: 1px solid green;
        width: 80%;
        height: 400px;
    }
    .cards-container {
        margin: auto;
        width: 80%;
        .transition-wrapper {
            // border: 1px solid grey;
            display: inline-block;
            margin: 0.2em;
            width: $card-width + 10;
            height: $card-height + 10;
            .card-wrapper {
                position: relative;
                border: 1px solid grey;
                border-radius: 2px;
                width: $card-width;
                height: $card-height;
                margin: auto;
                top: 50%;
                transform: translateY(-$card-height / 2);
                .stock-card {
                    text-align: center;
                    border-left: 3px solid green;
                    border-top-left-radius: 1px;
                    border-bottom-left-radius: 1px;
                    width: $card-width;
                    height: $card-height * .98;
                    transition: all 0.3s ease;
                    &:hover {
                        border-left: 5px solid red;
                        border-top-left-radius: 1px;
                        border-bottom-left-radius: 2px;
                    }
                }
                .icon {
                    position: absolute;
                    top: 0;
                    right: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .search-container {
        // border: 1px solid magenta;
        margin: auto;
        width: 100%;
        .search-wrapper {
            height: 40px;
            margin: auto;
            width: 60%;
            display: flex;
            flex-direction: row;
            input {
                flex-grow: 8.5;
                border: 1px solid grey;
                height: 100%;
                // width: 1$card-height;
                border-radius: 5px;
                margin-right: 0.2em;
                padding-left: 1em;
                &:focus {
                    outline: none;
                    border: 1px solid green;
                    color: green;
                    &::placeholder {
                        color: green;

                    }
                }
            }
            .button {
                flex-grow: 1.5;
            }
        }
    }
}
