{
    "presets": ["env", "react", "stage-2"],
    "plugins": ["transform-object-rest-spread", "transform-runtime"],
    "env": {
        "production": {
            "plugins": ["transform-react-remove-prop-types"]
        }
    }
}
