@import 'variables';
@import 'mixins';
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
html {
  background-color: black;
  body {
    background-color: black;
  }
}
.app-container {
  overflow: scroll;
  @import 'home';
  @import 'stock-chart';
}
